.cont{
    padding: 10px;   
    background: white;
    height: 50px;   
   }
   .jumbotron{
       
       color: rgb(200, 208, 211);
   }
   table{
       font-family: Arial, Helvetica, sans-serif;
       font-weight: lighter;
       color: rgb(96, 98, 99);
   }
   .heading{
       line-height: 30px;
       font-size: 20px;
   }
   .add{
       cursor: pointer;
       color: tomato;
       margin-top: 3px;
   }