<div class="jumbotron">
    <div class="cont border">
        <p class="heading">Show Company Details
            <span class="material-icons add float-right" (click) = "openDialog()">
                add_circle
            </span>
        </p>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-6">Show
        <mat-form-field>
  
     
          <mat-select [(ngModel)]="size" (ngModelChange)="fetch()">
            <mat-option [value]="10" selected>
              10
            </mat-option>
            <mat-option [value]="30">
              30
            </mat-option>
            <mat-option [value]="100">
              100
            </mat-option>
          </mat-select>
        </mat-form-field> Entries
      </div>
      <div class="col-md-6 ">
        
      <input [(ngModel)]="search" (ngModelChange)="fetch()" class="form-control float-right col-md-4 mt-3" placeholder="Search">
     
      </div>
    </div>
    
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Company</th> 
            <th scope="col">Creator</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of data.list">
            <th > {{ company.name }}</th>
            <th > {{ company.company }}</th>
            <th > {{ company.creator }}</th>
            <th > 
                <span class="material-icons add" (click) = "openDialog(company._id)">edit</span>
                <span class="material-icons add" (click) = "deleteCompany(company._id)">delete</span>
            </th>
          </tr>
        </tbody>
        <tbody *ngIf="data.totalRecord == 0">
            <tr>
                <td rowspan="7">No Data Found</td> 
            </tr>
        </tbody>
      </table>
      <div>
        <ul class="d-flex flex-row list-group">
          <li class="float-right p-2 list-group-item " *ngIf="page > 1" (click)= "changePage(1)"><<</li>
          <li class="float-right p-2 list-group-item" *ngIf="page > 1" (click)= "changePage(page - 1)"><</li>
          <li [ngClass]="{'active': i == page - 1}" *ngFor="let item of [].constructor(totalPages); let i = index" (click)= "changePage(i+1)" class="float-right p-2 list-group-item ">{{i + 1}}</li>
          <li class="float-right p-2 list-group-item " *ngIf="page < totalPages" (click)= "changePage(page + 1)">></li>
          <li class="float-right p-2 list-group-item " *ngIf="page < totalPages" (click)= "changePage(1)">>></li>
        </ul>
      </div>
      
</div>