<div class="back">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Reset password</h3>

            <div class="card-text" *ngIf="show">

                <div class="form-group">
                    <label for="exampleInputEmail1">New Password.</label>
                    <input type="password" [(ngModel)]="password" class="form-control form-control-sm"
                        placeholder="Please Enter Your New Password">
                    <br>
                    <label for="exampleInputEmail1">Confirm Password.</label>
                    <input type="password" [(ngModel)]="cpassword" class="form-control form-control-sm"
                        placeholder="Please Enter Agian Password">
                    <p class="text-danger" *ngIf="cpassword != password && cpassword != ''"> Password Does Not Match</p>
                </div>

                <button (click)="onSubmit()"  class="btn btn-primary btn-block">Send password reset email</button>

            </div>
            <div class="card-text text-center text-danger" *ngIf="!show">

                <p> Token Expired </p>
            </div>
        </div>
    </div>
</div>