<div class="test ml-2 mr-2  d-flex">
    <div class="list col-md-3 p-0">
        <div class="head col-md-12 p-0 m-0  d-flex">
            <button (click)="fetch2('today')" class=" col-md-4">Today</button>
            <button (click)="fetch2('week')" class=" col-md-4">Week</button>
            <button (click)="fetch2('future')" class=" col-md-4">Future</button>
        </div>
        <div>
            <span class="design">
                <span class="material-icons p-2">
                    reorder
                </span>
                <span class="text pt-2">General</span>
                <span class="float-right p-2"> {{daywisetotal}}
                </span>
            </span>
        </div>
        <div>
            <span class="design"> <span class="material-icons star p-2">
                    star
                </span>
                <span class="text pt-2">Starred</span>
                <span class="float-right p-2"> {{daywisestarred}}</span>
            </span>
        </div>
        <div>
            <span class="design"><span class="material-icons p-2">
                    schedule
                </span>
                <span class="text pt-2">Pending</span>
                <span class="float-right p-2"> {{daywisepending}}</span>
            </span>
        </div>
    </div>
    <div class="cont contenttask border col-md-5">
        <div class="mat-elevation-z8 mt-2 pt-3 pl-3 pr-3">
            <h4 class="heading">Task List

            </h4>
            <div class="input-group">
                <input type="text" [(ngModel)]="model.name" class="form-control form-control-lg" placeholder="Create Task Click On + Button">
                <div class="input-group-append">
                    <mat-form-field style="width:1px;visibility:hidden;">
                        <input matInput [(ngModel)]="model.date" [owlDateTime]="picker" [owlDateTimeTrigger]="picker" >
                        <owl-date-time #picker></owl-date-time>
                      </mat-form-field>
                      <button class="btn btn-sm btn-outline-secondary" type="button" id="button-addon2" (click)="picker.open()" ><span class="material-icons">
                        date_range
                        </span></button>
                    <button class="btn btn-sm btn-outline-secondary" type="button" id="button-addon2"><span
                            class="material-icons add" (click)="Save()">add_circle</span></button>
                </div>
            </div>
            <p class="text-center text-info mt-2">TODAY</p>
        </div>
        <h6 class="text-center text-muted"> {{ date | date }}</h6>
        <br>
        <div class="listoftask">
        <div class="row bg-info pt-2 m-0 mb-1 col-md-12 rounded" (click) = "SelectTask(task)" *ngFor="let task of data">
            <div class="cont col-md-6">
            <span class="material-icons starcolor pt-1 pr-1" (click)="clicked(task)" [ngClass]="{'star': task.isStarred == true}">
                star
            </span>
            <span class="pt-2  text">{{ task.name | titlecase }}</span>
            </div>
           <div class="cont col-md-6"> 
            <input class="float-right checkbtn mt-2" type="checkbox" (change)="changed(task,$event)" [checked]="task.status == true">   
            <p class="float-right pr-2 pt-2">{{ task.date | date }}</p>
            
            </div>
        </div>
       
    </div>
    <div class="twobox container pl-3 pr-3 col-md-12 m-0 d-flex fixed-bottom">
        <div class="col-md-6 bg-secondary text1 p-2 pt-0 text-center d-flex">
            <i class="material-icons iconche pr-1">
                schedule
                </i>
            <p>  Pending <span>{{totalPending}}</span></p>
        </div> 
        <div class="col-md-6 bg-secondary text1 p-2 pt-0 text-center d-flex">
            <i class="material-icons iconche pr-1">
                check_box
                </i>
            <p>  Completed <span>{{totalCompleted}}</span></p>
        </div> 

    </div>
    </div>
    <div class="list2 col-md-4 border text-muted pt-2">

        <p class="text-primary ">Status : {{ status }}</p>
        <div *ngIf="show" >
            <table class="table p-1 rounded-top">
                <tr class="bg-light ">
                    <td class="bg-light "> <span class="material-icons starcolor pt-1 pr-1" (click)="clicked(details)" [ngClass]="{'star': details.isStarred == true}">
                        star
                    </span>
                    <span class="pt-2 text">{{ details.name | titlecase }}</span>
                    <input class="float-right bg-light checkbtn mt-2 mr-5" type="checkbox" (change)="changed(details,$event)" [checked]="details.status == true">
                </td>
                </tr>
                <tr class="bg-white ">
                    <td class="d-flex">
                        <span class="material-icons pr-2">
                            event_note
                        </span>
                        <p>{{ details.date | date:'medium'}}</p>
                     </td>
                </tr>
                <tr class="bg-white ">
                    <td class="d-flex">
                        <span class="material-icons pr-2">
                            alarm
                            </span>
                            
                            
                        <p>Remind Me At {{ details.date | date:'shortTime'}}</p>
                     </td>
                </tr>
                <tr class="bg-white ">
                    <td class="d-flex">
                        <span class="material-icons pr-2">
                            reorder
                        </span>
                        <p>Appointment</p>
                     </td>
                </tr>
                <tr class="bg-white ">
                    <td class="d-flex">
                        <span class="material-icons pr-2">
                            group
                        </span>
                        <p class="text-primary">Link User</p>
                     </td>
                </tr>
                
                <tr class="bg-white ">
                    <td class="d-flex">
                        <span class="material-icons pr-2">
                            add
                        </span>
                        <p class="text-muted">Add Sub Task</p>
                     </td>
                </tr>
                <tr class="bg-white ">
                    <td class="">
                        
                        <p class="text-primary " (click)="showlink = !showlink"><span class="material-icons pt-2 pr-2">
                            link
                        </span>Link Company</p>
                        <br>
                        <div *ngIf="showlink" class="col-md-12">
                            <mat-form-field>
                                <mat-label>Companies</mat-label>
                                <mat-select>
                                  <mat-option *ngFor="let company of companies.list" [value]="company.companyName"> {{ company.companyName }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                     </td>
                </tr>
                <tr class="bg-white ">
                    <td class="d-flex">
                        <span class="material-icons pr-2">
                            link
                        </span>
                        <p class="text-muted">Link Project/Order/Service</p>
                     </td>
                </tr>
               
            </table>
        </div>
           
    </div>
</div>