.logo{
    width: 400px;
}
.bottom{
    
    width: 100%;
    background: #F2F2F2;
    bottom: 0;
    position: absolute;
}
.jumbotron{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    background: gray;
    height: 90vh;
}
.background{
    height: 100vh;
    background: gray;
}
.main{
    background-color: white;
}
ul{
    margin-top: 100px;
}
li{
    margin: 5px;
    list-style: none;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}
li:nth-child(3) {
    background: rgb(18, 206, 231);
  }
  input{
      color: white;
      font-size: 20px;
      margin:0px;
      padding: 0px;
      height: 20px;
  }
  ::ng-deep  .mat-form-field-label {
    /*change color of label*/
    padding-bottom: 20px !important;
    /* font-size: 20px !important; */
    color:white !important;
   }
  .loginsection{
    padding-right: 70px;
    color: white;
    padding-top: 20px;  
    padding-left: 70px;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); 
}
button{
    border-radius: 25px;
    right: 0;
    left: 0;
    font-size: 20px;
    margin:auto;
    position: absolute;
    width: 150px;
}
a{
    color: white;
    margin-left: 10px;
}
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
::ng-deep .mat-form-field-prefix{
    padding-left: 3px;
    position: absolute;
    padding-right: 3px;
    padding-bottom: 0px;
}
mat-divider{
    border: 1px solid white;
}
.apps{
    margin: 10px;
    width: 170px;
    height: 60px;
}