<div class="background">
    <div class="jumbotron d-flex flex-row">
        <div class="container main p-0 col-md-8 border">
            <div class="d-flex justify-content-center">
                <img class="logo" src="../../assets/logo.png" alt="">
                <br>
            </div>
            <br>

            <h5 class="text-center">Your data is safe and secure with us, we have automated backups to avoid DM</h5>
            <div class="col-md-12 border-top pt-5 bottom mt-10">
                <img class=" col-md-12" src="../../assets/login/base_icons.PNG" alt="">
            </div>
        </div>
        <div class="container col-md-4 border">
            <img class="logo" src="../../assets/logo.png" alt="">

        </div>
    </div>
</div>