<div class="background">
    <div class="jumbotron d-flex flex-row">
        <div class="container main main p-0 col-md-8 border">
            <div class="d-flex justify-content-center pt-3">
                <img class="logo" src="../../assets/logo.png" alt="">
                <br>
            </div>
            <br>

            <h5 class="text-center">Your data is safe and secure with us, we have automated backups to avoid DM</h5>
            <ul class="d-flex pt-5 flex-row justify-content-center">
                <li class="p-2" *ngFor="let in of [0,1,2,3,4] ;let i = index"></li>
            </ul>
            <div class="col-md-12 border-top pt-5 bottom mt-10">
                <img class=" col-md-12" src="../../assets/login/base_icons.PNG" alt="">
            </div>
        </div>
        <div class="container loginsection col-md-4 border p-10">
            <h3 class=" pt-2 ">SIGN IN TO MISDESK CRM</h3>
           
            <br>
            <br>
            <form (submit)="login()">
                <mat-form-field class="col-md-12">
                    <i class="material-icons" matPrefix>
                        account_circle
                    </i>
                    <input type="email" [(ngModel)]="cred.Email" matInput placeholder="Email" name="email">
                </mat-form-field>
                <br>
                
                <mat-form-field class="col-md-12">
                    
                    <input [(ngModel)]="cred.Password" matInput placeholder="Password" type="password" class="col-md-12" name="password">
                    <span class="material-icons" matPrefix>
                        lock_open
                        </span>
                </mat-form-field>
                <a  [routerLink]="['/forgotpassword']" class="pl-2">Forget Password</a>
                <br><br>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
            <br>
            <br><br>
            <mat-divider></mat-divider>
           
            <br>    
            <h4>MOBILE APPS</h4>
            <div class="d-flex justify-content-center flex-row ">
               <a href=""> <img class="apps" src="../../assets/login/gplay.png" alt=""> </a>
               <a href=""> <img class="apps" src="../../assets/login/appstore.png" alt=""> </a>
                <br>
            </div>
        </div>
    </div>
</div>