.logo{
    width: 400px;
}
.bottom{
    margin-top: 100px;
    width: 100%;
    background: #F2F2F2;
    bottom: 0;
    position: absolute;
}
.jumbotron{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    background: white;
    height: 90vh;
}
.background{
    height: 100vh;
    background: gray;
}