
mat-toolbar{
    height: 50px;
    color: rgb(200, 208, 211);
}
.menu{
    height: 8vh;
    z-index: 100;
}

.user{
    width: 100%;
}

.userlist{
    margin-top: 25px;
    width: 100px;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    z-index: 100;
}
li{
    padding: 3px;
   
}
ul{
    cursor: pointer;
}
.info{
    margin-right: 10px;
    line-height: 40px;
}
.bell{
    font-size: 20px;
}
mat-drawer{
    
    text-align: center;
    width: 70px;
    background-color: rgb(55, 56, 55);
    padding-top: 10px;
}
.links{
    text-decoration: none;
    margin-top: 10px;
    padding-top: 10px !important;
    color: rgb(200, 208, 211);
}
span{
    font-size: 30px; 
  
}
p{
    margin-top: -10px;
    font-size: 12px;
}
mat-drawer-content{
   
    background-color:#E9ECEF;
    overflow: auto;
    height: 92vh;
   
}
maindiv{
    position: relative;
    height: 100vh;
}