
<div class="maindiv" >
<mat-toolbar *ngIf="show">
    <span>Add Logo</span>
    <div class="user d-flex flex-row-reverse">
        <span class="bell border material-icons p-2">
            add_alert
        </span>
        <div class="info">Username</div>
    </div>
  </mat-toolbar>
<mat-drawer-container class="example-container" >
   
    <mat-drawer mode="side" opened *ngIf="show">
        <a class="links" [routerLink]="['/company']" routerLinkActive="router-link-active" >
            <span class=" material-icons">
                business
            </span>
            <p>Company</p>
        </a>
        <a class="links" [routerLink]="['/contact']" routerLinkActive="router-link-active" >
            <span class="material-icons">
                account_box
            </span>
            <p>Contact</p>
        </a>
        <a class="links" [routerLink]="['/task']" routerLinkActive="router-link-active" >
            <span class="material-icons">
                view_headline
            </span>
            <p>Task</p>
        </a>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
</div>